.wheel{
    position:relative;
    border: solid 2px black;
    margin: 5px auto;
    width:728px;
    overflow:hidden;
}

.selectionBox{
    position:absolute;
    left:50%;
    top: -1px;
    transform: translateX(-50%);
    border:solid 4px rgb(255, 238, 3);
    width:54px;
    height:50px;
    z-index: 1000;
}

.iconWrap{
    position:relative;
    display: flex;
    
}

/* .iconWrapAnimate{
    animation-name: spin;
    animation-duration: 3s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
}

@keyframes spin{
    0%{
        transform:translateX(0)

    }
    100%{
        transform:translateX(-200%);
      
    }
} */

.icon{
    width:50px;
    height:50px;
    margin: 3px;
    flex-shrink: 0;
}

.green{
    background-color: rgb(10, 110, 10);
}

.pink{
    background-color: rgb(221, 92, 141);
}

.black{
    background-color: rgb(7, 7, 7);
}
